# ===============================
# API
# ===============================
VITE_API_BASE_URL=http://localhost:9005

# ===============================
# Environment
# ===============================
VITE_APP_ENV=development
VITE_APP_DEBUG=true

# ===============================
# OAuth2 Login URLs
# ===============================
VITE_GOOGLE_LOGIN_URL=http://localhost:9005/oauth2/authorization/google
VITE_KAKAO_LOGIN_URL=http://localhost:9005/oauth2/authorization/kakao
VITE_NAVER_LOGIN_URL=http://localhost:9005/oauth2/authorization/naver
