@use "../global";

.leftLayout {
  position: absolute;
  left: 0;
  top: 60px;
  width: 33.33%;
  display: flex;
  flex-direction: column;
  gap: 24px;


  header {
    position: sticky;
    top: 0;
    z-index: 10;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    align-items: flex-start;
    gap: 0;
  }
  .container {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
}

.rightLayout {
  position: absolute;
  right: 0;
  top: 60px;
  width: 62%;
  height: 100vh;
  display: flex;
  flex-direction: column;

  header {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #fff;
    padding-bottom: 24px;
  }

  .container {
    overflow-y: auto;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-bottom: 60px;
  }
}

.leftLayout, .rightLayout {
  height: calc(100vh - 60px);
}

@media (max-width: 1200px) {

}

@media (max-width: 768px) {

  .leftLayout, .rightLayout {
    position: inherit;
    width: 100%;
    height: auto;
    top: 0;
  }
}